# ðŸ“˜ What is pandas
Pandas is a python labrary used to data analysis and data manipulation.

# What is Series
A Series is a one-dimensional labeled array that can store any type of data â€” integers, floats, strings, or Python objects.

# ðŸ”¹ Syntax
`pd.Series(data)`

# Import pandas

In [ ]:
import pandas as pd

# ðŸ“˜ Pandas Series Question
1. List se ek Series create karo: `[10, 20, 30, 40]`

2. Custom index ke sath Series banao:
- Data: `[100, 200, 300]`
- Index: `['a', 'b', 'c']`

3. Dictionary se Series create karo:
- `{'Math': 90, 'English': 85, 'Science': 88}`

4. Single value se 5 elements ki Series banao `(value = 50)`

5. NumPy array se Series create karo.

6. Series me custom index assign karo baad me.

7. String data se Series banao: ["Apple", "Banana", "Mango"]

8. Boolean values ki Series create karo.

9. Float values ki Series banao.

10. Date range use karke Series create karo.

# ðŸ“Š What is DataFrame
A DataFrame is a two-dimensional labeled data structure in Pandas, like a table with rows and columns

# ðŸ”¹ Pandas DataFrame Question

1. Dictionary se DataFrame create karo:
- `Name:` `-` `Aman, Suraj, Ravi`
- `Marks:` `-` `80, 90, 75`

List of lists se DataFrame banao.

List of dictionaries se DataFrame create karo.

NumPy array se DataFrame create karo.

Custom row index ke sath DataFrame banao.

3 columns aur 5 rows ka random DataFrame create karo.

Empty DataFrame create karo.

CSV file read karke DataFrame banao.

Excel file read karke DataFrame create karo.

Dictionary of Series se DataFrame create karo.